<footer id="footer" class="container-fluid;padding-left: 0;padding-right: 0;background-color: rgba(126,126,126,0.95); page-footer">
    <div style="background-color: rgba(108,108,108,0.99);padding-top: 12px;padding-bottom: 8px;">
        <div class="container" id="footer" style="padding-left: 0;padding-right: 0;background-color: rgba(255,255,255,0);">
            <div class="row" style="margin: 0px;">
                <div class="col d-flex flex-column justify-content-center" style="text-align: center;padding-right: 0px;padding-left: 0px;">
                    <div class="row justify-content-center" style="margin-left: 0px;margin-right: 0px;">
                        <div class="d-flex flex-column col-sm-4 col-md-3 item" style="padding: 10px;padding-top: 10px;">
                            <h4><a href="{{ path('accueil')}}" style="color: rgb(27,29,30);">Accueil</a></h4>
                            <ul class="list-inline d-flex flex-column">
                                <li class="list-inline-item"><a href="{{ path('carte')}}" style="color: rgb(27,29,30);text-shadow: 1px 0px rgba(255,255,255,0.18);">La Carte</a></li>
                                <li class="list-inline-item"><a href="{{ path('accueil')}}#evenement" style="color: rgb(27,29,30);text-shadow: 1px 0px rgba(255,255,255,0.18);">Evenement</a></li>
                            </ul>
                        </div>
                        <div class="d-flex flex-column col-sm-4 col-md-3 item" style="padding: 10px;">
                            <h4><a href="{{ path('contact')}}" style="color: rgb(27,29,30);">Nous Contacter</a></h4>
                            <ul class="list-inline d-flex flex-column">
                                <li class="list-inline-item" style="margin: 0px;"><a href="/devis" style="color: rgb(27,29,30);text-shadow: 1px 0px rgba(255,255,255,0.18);">Devis</a></li>
                                <li class="list-inline-item"><a href="mailto:camillepierrick@lechalote.com" style="color: rgb(27,29,30);text-shadow: 1px 0px rgba(255,255,255,0.18);">Email</a></li>
                            </ul>
                        </div>
                        <div class="d-flex flex-column col-sm-4 col-md-3 item" style="padding: 10px;">
                            <h4>Informations</h4>
                            <ul class="list-inline d-flex flex-column">
                                <li class="list-inline-item"><a href="/mentionlegales" style="color: rgb(27,29,30);text-shadow: 1px 0px rgba(255,255,255,0.18);">CGV Mention Légales</a></li>
                                <li class="list-inline-item"><a href="#" style="color: rgb(27,29,30);text-shadow: 1px 0px rgba(255,255,255,0.18);">Politique de confidentialité</a></li>
                            </ul>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-self-center col-sm-4 col-md-3 item" id="social-icon" style="padding: 10px;"><a href="https://www.facebook.com/Restaurant-l%C3%A9chalote-104965350904039" target="blank"><i class="fa fa-facebook-square" style="font-size: 45px;color: rgb(28,28,28);margin: 10px;"></i></a><a href="https://www.instagram.com/"
                                target="blank"><i class="fa fa-instagram" style="font-size: 45px;color: rgb(28,28,28);margin: 10px;" href="https://www.instagram.com/" target="blank"></i></a><a href="https://twitter.com/" target="blank"><i class="fa fa-twitter-square" style="font-size: 45px;color: rgb(28,28,28);margin: 10px;"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <div class="col" style="padding: 0px;">
                    <p class="text-center">Site réalisé par:&nbsp;<a href="https://kevalois.fr/" style="color: rgb(145,119,37);font-size: 16px;text-shadow: 1px 1px rgb(59,59,59);" target="blank">kevalois.fr</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>