<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CHALOTE{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="2000x1432" href="img/Logo_echalote.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

</head>
<body>

    {% include "partials/navbar.html.twig" %}
    {% block body %}{% endblock %}
    {% include "partials/footer.html.twig" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/bs-init.js') }}"></script>

</body>
</html>
